src/MicroservicesCqrsKafka/.idea/
src/MicroservicesCqrsKafka/OrdersService/obj/
src/MicroservicesCqrsKafka/OrdersService/bin/
src/MicroservicesCqrsKafka/MicroservicesCqrsKafka.sln.DotSettings.user
src/MicroservicesCqrsKafka/Simulator/bin/
src/MicroservicesCqrsKafka/Simulator/obj/
kafka-cqrs.txt
src/MicroservicesCqrsKafka/OrdersValidationService/bin/
src/MicroservicesCqrsKafka/OrdersValidationService/obj/OrdersValidationService.csproj.nuget.dgspec.json
src/MicroservicesCqrsKafka/OrdersValidationService/obj/
src/MicroservicesCqrsKafka/Common/obj/
src/MicroservicesCqrsKafka/OrdersProducer/obj/
src/MicroservicesCqrsKafka/Common/bin/
src/MicroservicesCqrsKafka/OrdersProducer/bin/
src/MicroservicesCqrsKafka/OrdersValidationService/state/
